@charset "utf-8";

/*头部店家信息和搜索区域部分开始*/
	#shop-search{
		height:81px;
    	background-color:#fff;
    	border-bottom:1px solid #ddd;
    	font-size:0;
	}

	#shop-search .shop-info-wrapper{
		position:relative;
		float:left;
		width:507px;
		height:80px;
		background-color:#fff;
		z-index:1;
	}

	#shop-search .search-wrapper{
		float:right;
		width:585px;
	}

	#shop-search .shop-info{
		position:relative;
		font-size:0;
	}

	#shop-search .shop-info .avatar,#shop-search .shop-info .title-score-wrapper{
		display:inline-block;
		*zoom:1;
		*display:inline;
		vertical-align:top;
	}

	#shop-search .shop-info .avatar{
		margin-left:20px;
	}

	#shop-search .shop-info .avatar>img{
		width:40px;
		height:40px;
		border-radius:50%;
		margin-top:15px;
	}

	#shop-search .shop-info .title-score-wrapper{
		width:240px;
		padding-left:10px;
		margin-top:15px;
	}

	#shop-search .shop-info .title-wrapper{
		overflow:hidden;
		height:20px;
		line-height:20px;
		font-weight:400;
	}

	#shop-search .title-wrapper .title{
		display:inline-block;
		*zoom:1;
		*display:inline;
		overflow:hidden;
		max-width:130px;
		margin-right:5px;
		color:#333;
		white-space:nowrap;
		word-break:break-all;
		text-decoration:none;
		text-overflow:ellipsis;
		font-size:14px;
	}

	#shop-search .title-wrapper .good{
		display:inline-block;
		*zoom:1;
		*display:inline;
		margin:0;
		padding:0;
		vertical-align:top;
	}

	#shop-search .title-wrapper .good>img{
		height:16px;
	}

	#shop-search .title-score-wrapper .score-wrapper{
		width:240px;
		padding-bottom:30px;
	}

	#shop-search .score-wrapper .star{
		width:100px;
		margin:0;
		padding:0;
		font-size:12px;
	}

	#shop-search .score-wrapper .star>i{
		display:inline-block;
		*zoom:1;
		*display:inline;
		width:12px;
		height:15px;
		background:url(../images/star.png) 0 -12px no-repeat;
		background-size:13px 26px;
	}

	#shop-search .score-wrapper .desc{
		margin:0;
		padding:0;
	}

	#shop-search .score-wrapper .desc .item{
		margin-right:5px;
		color:#666;
		font-size:12px;
	}

	#shop-search .desc .item strong{
		padding-left:2px;
		color:#ef2f23;
		font-weight:400;
	}

	#shop-search .shop-info .shop-detail-wrapper{
		display:none;
		position:absolute;
		top:80px;
		left:0;
		width:505px;
		background-color:#f6f6f6;
		border-top:none;
	}

	#shop-search .shop-detail-wrapper .detail-wrapper{
		float:left;
		overflow:hidden;
		width:240px;
		min-height:250px;
		border-right:1px solid #dedede;
	}

	#shop-search .shop-detail-wrapper .detail-wrapper>ul{
		padding:5px 0;
	}

	#shop-search .shop-detail-wrapper .detail-wrapper li{
		line-height:26px;
		font-size:12px;
	}

	#shop-search .shop-detail-wrapper .detail-wrapper li:last-child{
		margin-bottom:3px;
		margin-top:10px;
	}

	#shop-search .shop-detail-wrapper .detail-wrapper .look-detail{
		display:block;
		width:100px;
		height:26px;
		margin:0 auto;
		line-height:26px;
		color:#333;
		background-color:#fff;
		border:1px solid #d5d5d5;
		text-align:center;
		border-radius:3px;
	}

	#shop-search .shop-detail-wrapper .detail-wrapper .look-detail:hover{
		text-decoration:none;
	}

	#shop-search .shop-detail-wrapper .detail-wrapper li>span{
		display:inline-block;
		*zoom:1;
		*display:inline;
		width:85px;
		margin-right:2px;
		text-align:right;
		color:#999;
	}

	#shop-search .shop-info-wrapper .shop-actions{
		display:inline-block;
		*zoom:1;
		*display:inline;
		margin-top:20px;
	}

	#shop-search .shop-actions .favi{
		display:inline-block;
		*zoom:1;
		*display:inline;
		margin-right:10px;
		padding:0 12px 0 22px;
	    height:20px;
	    line-height:20px;
	    font-size:12px;
	    color:#666;
	    background-color:#fff;
	    border:1px solid #ddd;
	    background-image:url(../images/sprit3.png);
	    background-position:4px -48px;
	    background-repeat:no-repeat;
	    text-decoration:none;
	}

	#shop-search .shop-actions .private-chat{
		display:inline-block;
		*zoom:1;
		*display:inline;
		height:20px;
		padding:0 5px;
	    line-height:20px;
	    background-color:#fff;
	    border:1px solid #ddd;
	    cursor:pointer;
	    vertical-align:top;
	}

	#shop-search .shop-actions .private-chat>span{
		display:block;
		width:48px;
		height:20px;
		background:url(../images/private-chat.gif) no-repeat 50%;
		background-size:42px;
		cursor:pointer; 
	}

	#shop-search .shop-info .divide{
		display:inline-block;
		*zoom:1;
		*display:inline;
		width:1px;
		height:40px;
		margin-top:15px;
		margin-left:42px;
		background-color:#eee;
		vertical-align:top;
	}

	#shop-search .search-wrapper{
		float:right;
		width:585px;
		padding-top:20px;
	}

	.form-wrapper form{
		width:100%;
	}

	#shop-search .search-wrapper .search-local{
		display:inline-block;
		*zoom:1;
		*display:inline;
		margin-left:2px;
		height:36px;
	    line-height:36px;
	    overflow:hidden;
	    width:100px;
	    background-color:#f07;
	    background-image:linear-gradient(to right,#f25,#ff1581);
	    border:none;
	    cursor:pointer;
	    font-size:16px;
	    color:#fff;
	    border-radius:5px;
		vertical-align:top;
	}

	#shop-search .search-wrapper .form-wrapper{
		display:inline-block;
		*zoom:1;
		*display:inline;
	}

	#shop-search .shop-detail-wrapper ol{
		float:left;
	    overflow:hidden;
	    list-style:none;
	    margin:0;
	    padding:0;
	}

	#shop-search .shop-detail-wrapper ol.dynamic-score{
		width:150px;
    	margin:0 0 5px 15px;
	}

	#shop-search .shop-detail-wrapper ol>li{
		line-height:26px;
		font-size:12px;
	}

	#shop-search .shop-detail-wrapper li.title{
		line-height:28px;
    	color:#999;
	}

	#shop-search .shop-detail-wrapper li .num{
		color:#f36;
	}

	#shop-search .shop-detail-wrapper li .num-less{
		color:#8dc341;
	}

	#shop-search .shop-detail-wrapper ol.higherthan-peers{
		width:80px;
	}

	#shop-search .shop-detail-wrapper ol.higherthan-peers .higher{
		padding:2px;
    	margin-right:5px;
		background-color:#f36;
    	color:#fff;
	}

	#shop-search .shop-detail-wrapper ol.my-shop{
		padding:5px 0;
    	width:150px;
    	margin-left:15px;
    	border-top:1px dashed #dedede;
	}

	#shop-search .shop-detail-wrapper ol.industry{
		padding:5px 0;
    	width:70px;
    	border-top:1px dashed #dedede;
	}
/*头部店家信息和搜索区域部分结束*/ 

/*头部banner部分开始*/
	#banner{
		height:150px;
	}

	#banner .banner-bg{
		height:100%;
		background-image:url(../images/banner.jpg);
		background-repeat:no-repeat;
		background-size:cover;
		background-position:center;
	}
/*头部banner部分结束*/

/*头部nav部分开始*/
	.nav{
		height:30px;
		line-height:30px;
		background-color:rgba(0,0,0,.7);
	}

	.nav ul{
		font-size:0;
	}

	.nav li{
		position:relative;
		display:inline-block;
		*zoom:1;
		*display:inline;
		padding:7px 0;
		font-size:14px;
	    cursor:pointer;
	}

	.nav li:hover .toggle-menu{
		display:block;
	}

	.nav li>a{
		display:block;
		height:100%;
		line-height:16px;
		padding:0 20px;
		color:#fff;
		border-right:1px solid #5c5c5c;
	}

	.nav li>a:hover{
		text-decoration:none;
	}

	.nav li>a .arrow_down{
		position:relative;
		display:inline-block;
		*zoom:1;
		*display:inline;
	    margin-left:5px;
	    top:2px;
	    width:0;
	    height:0;
	    border-top:5px solid #fff;
	    border-left:5px solid transparent;
	    border-right:5px solid transparent;
	    border-bottom:5px solid transparent;
	}

	.nav li .toggle-menu{
		display:none;
		position:absolute;
	    top:30px;
	    left:0;
	    width:150px;
	    background-color:rgba(0,0,0,.75);
	}

	.nav .toggle-menu li:hover{
		background-color:rgb(102,102,102);
	}

	.nav .toggle-menu li:hover .sub-list{
		display:block;
	}

	.nav .toggle-menu>li,.nav .toggle-menu .sub-list>li{
		position:relative;
		width:150px;
		height:30px;
    	padding:0;
	}

	.nav .toggle-menu a,.nav .toggle-menu .sub-list a{
		display:block;
		height:100%;
		padding:0 26px;
		line-height:32px;
		color:#fff;
		font-size:12px;
		border:none;
		background:url(../images/arrow-right.png) 14px 13px no-repeat;
	}

	.nav .toggle-menu .sub-list{
		display:none;
		position:absolute;
		left:150px;
    	top:0;
		width:150px;
		background-color:rgba(0,0,0,.75);
	}

	.nav .toggle-menu .sub-list>li{
		height:32px;
	}
/*头部nav部分结束*/

/*头部promotion部分开始*/
	.promotion{
		overflow:hidden;
		height:400px;
		margin-bottom:30px;
	}

	.promotion .topslider-content{
		width:1920px;
		margin-left:-360px;
	}

	.promotion .slider-container{
		overflow:hidden;
		width:1920px;
		height:400px;
	}

	.promotion .slider-container a{
		display:block;
		height:100%;
	}

	.promotion .slider-container img{
		width:100%;
		height:100%;
	}
/*头部promotion部分结束*/

/*头部promise部分开始*/
  .promise{
  	margin-bottom:30px;
  }

  .promise .content-wrapper{
  	min-height:30px;
  }

  .promise .content-wrapper .content{
  	height:42px;
  }

  .promise .content-wrapper .content>img{
  	display:block;
  	height:100%;
  }
/*头部promise部分结束*/

/*footer部分开始*/
	footer{
		background-color:#fff;
	}
/*footer部分结束*/